.logo {
    color: white;
    height: 2.3rem;
    padding-right: 5px;
}

.navbar{
    background-color: #5c0118;
    justify-content: space-between;
}

.navbar-toggler-icon{
    color: white;
    font-size: 20px;
    padding: 5px;
}

.navbar-nav {
    font-weight: lighter;
}