.qurani {
  width: 100%;
  border-radius: 15px;
  padding: 7px;
}

h3 {
  font-weight: bold;
  /* border-right: 3px solid black; */
  color: rgb(3, 3, 51);
}

.Quran_btn {
  padding: 10px;
  background-color: rgb(3, 3, 51);
  color: white;
  width: 25%;
  border: none;
  border-radius: 5px;
  transition: all 0.3s;
}

.Quran_btn:hover {
  box-shadow: 0 4px 6px rgba(5, 5, 31, 0.267);
}
