@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  font-family: "Poppins", sans-serif;
  
}

a{
  text-decoration: none !important;
}

.surah_link{
  color: black;
}

.ayah_list{
  background-color: rgba(56, 5, 5, 0.651);
  color: white;
  border-radius: 7px;
  font-size: 1.5rem;
}

body{
  width:100%;
}
.navbar {
  padding: 1rem;
}